body{
    background-size: cover;
}

.copyrightfooter{
    bottom: 0;
    position: fixed;
    background-color: grey;
    color: whitesmoke;
    line-height: 2;
    width: 100%;
    text-align: center;
    font-family: "Fuzzy Bubbles", sans-serif;
}

.heading{
    font-size: 30px;
    width: 100%;
    margin: 0px;
    font-family: "Prata", serif;
    text-align: center;

}

#start, #numberofobjects, #status{
    font-size: 18px;
    font-family: "ZCOOL KuaiLe", sans-serif;
}
canvas{
    border: 2px solid white;
    border-radius: 10px;
    margin-top: 130px;
    box-shadow: 5px 5px 5px whitesmoke;
}